@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1d4ed8;
    --background: #111827;
  }

  body {
    @apply bg-cover bg-no-repeat bg-center font-sans text-gray-100;
    background-color: var(--background);
    background-image: url('/src/assets/images/jake-nackos-vTwXb_S19dc-unsplash.jpg');
    background-size: cover;
    min-height: 100vh;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5 {
    @apply text-white font-bold;
  }

  a {
    @apply text-blue-400 hover:text-blue-600 transition;
  }

  .btn-primary {
    background-color: var(--primary);
  }
}



